.navbar {
  display: flex;
  background-color: #36b6fb;
  color: white;
  padding: 1em 7.5%;
  margin-bottom: 1em;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.397);

  .links {
    display: flex;
  }

  h3 {
    margin: auto auto auto 0;
    padding: 0;
  }

  h5 {
    cursor: pointer;
    margin: auto 0 auto 1em;
    padding: 0;
  }
}

table {
  overflow: hidden;
}

td {
  button {
    padding: 0.5em 0.5em;
    margin-bottom: 0;
    width: 6em;
  }
}
